main .hero, main .menu .menu-h2, main .value div, main .value .experience, main .value .quality, main .faq .faq-title-container, main .faq .faq-title-container .faq-title, main .coverage-map, .about-us, .about-us section, .main-tourists section, .main-seamen section, .main-agents section, .main-resellers section {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-tourists, .main-seamen, .main-agents, .main-resellers {
  display: flex;
  height: 80vh;
  background-color: #1f1e1e; }

@font-face {
  font-family: "sailcoms";
  src: url(../scss/font/leelawdb.ttf); }

* {
  margin: 0;
  padding: 0;
  font-family: "sailcoms";
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  background-color: black !important; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 18vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99; }
  header #main-nav-bar {
    width: 100%;
    display: flex; }
    header #main-nav-bar div {
      display: flex;
      align-items: center;
      width: 50%; }
      header #main-nav-bar div img {
        width: 30%;
        height: 60%;
        margin-left: 20px; }
    header #main-nav-bar .navegador-derecha {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; }
      header #main-nav-bar .navegador-derecha h2 {
        color: #FFE15D;
        font-size: 40px;
        margin: 20px; }
      header #main-nav-bar .navegador-derecha nav ul {
        list-style: none; }
        header #main-nav-bar .navegador-derecha nav ul li {
          float: left;
          font-size: 20px;
          margin-right: 20px;
          position: relative;
          transition: 1s; }
          header #main-nav-bar .navegador-derecha nav ul li:hover > ul {
            display: flex;
            flex-direction: column; }
          header #main-nav-bar .navegador-derecha nav ul li a {
            text-decoration: none;
            background-color: black;
            color: snow;
            padding: 10px 15px;
            display: block;
            transition: 1s; }
            header #main-nav-bar .navegador-derecha nav ul li a:hover {
              text-decoration: none;
              background-color: #FFE15D;
              color: black;
              font-weight: bold; }
          header #main-nav-bar .navegador-derecha nav ul li ul {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            margin: 0;
            padding: 0; }
            header #main-nav-bar .navegador-derecha nav ul li ul li {
              transition: 1s; }
              header #main-nav-bar .navegador-derecha nav ul li ul li:hover > ul {
                display: flex;
                flex-direction: column; }
        header #main-nav-bar .navegador-derecha nav ul #contact-nav {
          background-color: #FFE15D;
          padding: 10px 15px;
          color: black;
          font-weight: bold;
          text-wrap: nowrap;
          margin-right: 5px;
          transition: 1s; }
          header #main-nav-bar .navegador-derecha nav ul #contact-nav:hover {
            background-color: snow;
            padding: 10px 15px;
            color: black;
            font-weight: bold; }
  header #burguer-menu-container {
    display: none; }

/*!----- HERO -----*/
main {
  /*!----- HERO END -----*/
  /*!----- SECTIONS -----*/
  /*!----- SECTIONS END -----*/
  /*!----- VALUES -----*/
  /*!----- VALUES END -----*/
  /*!----- FAQ -----*/
  /*!----- FAQ END -----*/
  /*!----- COVERAGE MAP -----*/
  /*!----- COVERAGE MAP END -----*/
  /*!----- WHATSAPP -----*/ }
  main h1 {
    displaY: none; }
  main .hero {
    flex-direction: column;
    width: 100%;
    height: 83vh;
    background-image: url(../img/fondohero2.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    color: snow; }
    main .hero h2 {
      font-size: 50px;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 40px;
      background-color: hwb(0 98% 0%/0.727);
      color: black; }
    main .hero a {
      text-decoration: none;
      font-size: 40px;
      background-color: black;
      color: #FFE15D;
      border-radius: 10px;
      padding: 10px;
      transition: 2s; }
      main .hero a:hover {
        background-color: #FFE15D;
        color: black;
        font-weight: bold; }
  main .menu {
    background-color: black; }
    main .menu .menu-h2 {
      background-color: black;
      color: snow;
      padding: 20px; }
      main .menu .menu-h2 h2 {
        border: snow 3px solid;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
        color: snow;
        text-align: center;
        width: fit-content; }
    main .menu #sections {
      display: flex;
      background-color: black; }
      main .menu #sections div {
        width: 25%;
        height: 50vh;
        position: relative;
        margin-left: 5px;
        margin-right: 5px; }
        main .menu #sections div a img {
          object-fit: fill;
          width: 100%;
          height: 100%;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          transition: 1s; }
          main .menu #sections div a img:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%); }
        main .menu #sections div h3 {
          position: absolute;
          bottom: 0;
          font-size: 30px;
          background-color: rgba(255, 250, 250, 0.682);
          color: black;
          padding: 10px;
          width: 100%;
          text-align: center; }
  main .values {
    display: flex;
    justify-content: center;
    color: snow;
    padding: 20px;
    background-color: black; }
    main .values h2 {
      border: snow 3px solid;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      background-color: black; }
  main .value {
    background-image: url(../img/fondo-value-editado.png);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 170px;
    text-align: center;
    background-color: black; }
    main .value::before {
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      background-color: black; }
    main .value div {
      margin: 3px;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 50px;
      border: black solid 2px;
      background-color: #fffffdae;
      opacity: .7;
      transition: 1s; }
      main .value div:hover {
        opacity: 0.9;
        background-color: snow; }
      main .value div h2 {
        font-size: 40px;
        font-weight: bolder;
        color: black;
        width: 25%;
        text-align: left;
        border: black solid 3px;
        background-color: #ffe666cc;
        width: fit-content;
        padding: 10px; }
      main .value div p {
        font-size: 25px;
        color: black;
        margin-right: 20px;
        margin-left: 20px;
        font-weight: bold; }
    main .value .experience {
      flex-direction: column;
      grid-column: span 2;
      grid-row: span 2;
      gap: 20px; }
    main .value .delivery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: span 2;
      grid-row: span 2;
      gap: 20px; }
    main .value .reliable {
      grid-column: span 2;
      padding: 20px; }
    main .value .assistance {
      grid-column: span 2;
      padding: 20px; }
    main .value .quality {
      grid-column: span 4; }
  main .faq .faq-title-container {
    background-color: black;
    padding: 20px; }
    main .faq .faq-title-container .faq-title {
      border: snow 3px solid;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      background-color: black;
      color: snow;
      text-align: center; }
  main .faq .menu-faq .accordion-item {
    background-color: black;
    color: #FFE15D; }
    main .faq .menu-faq .accordion-item h2 .accordion-button {
      font-size: 22px !important;
      background-color: snow;
      color: black; }
  main .coverage-map {
    background-color: black;
    color: snow;
    flex-direction: column;
    gap: 20px;
    padding: 20px; }
    main .coverage-map h2 {
      border: snow 3px solid;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      background-color: black;
      color: snow;
      text-align: center; }
    main .coverage-map p {
      color: #FFE15D;
      font-size: 25px;
      text-align: center;
      padding: 10px; }
    main .coverage-map a {
      background-color: #FFE15D;
      color: black;
      text-decoration: none;
      font-size: 30px;
      padding: 10px;
      text-align: center; }
  main .whatsapp {
    position: fixed;
    bottom: 50px;
    right: 40px; }
    main .whatsapp a img {
      width: 8vh;
      transition: 0.5s; }
      main .whatsapp a img:hover {
        width: 10vh; }

/*!----- INDEX END -----*/
/*!----- ABOUT -----*/
.about-us {
  height: 80vh;
  background-color: #1f1e1e;
  flex-direction: column;
  margin: 0;
  padding: 0; }
  .about-us section {
    flex-direction: column; }
    .about-us section h2 {
      color: #FFE15D;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      text-decoration: underline;
      font-size: 45px; }
    .about-us section h3 {
      color: #FFE15D;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 30px; }
    .about-us section p {
      color: snow;
      text-align: center;
      margin: 15px;
      font-size: 20px; }

/*!----- ABOUT END -----*/
/*!----- TOURISTS -----*/
.main-tourists section {
  flex-direction: column; }
  .main-tourists section h2 {
    color: #FFE15D;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 45px; }
  .main-tourists section p {
    color: snow;
    text-align: center;
    margin: 20px;
    font-size: 17px; }
  .main-tourists section ul {
    list-style: none; }
    .main-tourists section ul li {
      color: snow;
      font-size: 17px; }
      .main-tourists section ul li .bullet {
        color: #FFE15D; }
  .main-tourists section .chance {
    color: #FFE15D;
    margin-bottom: 15px; }
  .main-tourists section a {
    text-decoration: none;
    background-color: snow;
    color: black;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px; }

/*!----- TOURISTS END -----*/
/*!----- SEAMEN -----*/
.main-seamen section {
  flex-direction: column; }
  .main-seamen section h2 {
    color: #FFE15D;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: 45px; }
  .main-seamen section p {
    color: snow;
    text-align: center;
    margin: 20px;
    font-size: 20px; }
  .main-seamen section ul {
    list-style: none; }
    .main-seamen section ul li {
      color: snow;
      font-size: 20px; }
      .main-seamen section ul li .bullet {
        color: #FFE15D; }
  .main-seamen section .action {
    color: #FFE15D;
    margin-bottom: 30px; }
  .main-seamen section a {
    text-decoration: none;
    background-color: snow;
    color: black;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px; }

/*!----- SEAMEN END -----*/
/*!----- AGENTS -----*/
.main-agents section {
  flex-direction: column; }
  .main-agents section h2 {
    color: #FFE15D;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    font-size: 45px; }
  .main-agents section h3 {
    color: #FFE15D;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px; }
  .main-agents section p {
    color: snow;
    text-align: center;
    margin: 15px;
    font-size: 16px; }
  .main-agents section ul {
    list-style: none; }
    .main-agents section ul li {
      color: snow;
      font-size: 16px; }
      .main-agents section ul li span {
        color: #FFE15D; }
  .main-agents section .partner {
    color: #FFE15D;
    margin: 10px; }
  .main-agents section a {
    text-decoration: none;
    background-color: snow;
    color: black;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px; }

/*!----- AGENTS END -----*/
/*!----- RESELLERS -----*/
.main-resellers section {
  flex-direction: column; }
  .main-resellers section h2 {
    color: #FFE15D;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    font-size: 45px; }
  .main-resellers section p {
    color: snow;
    text-align: center;
    margin: 15px;
    font-size: 16px; }
  .main-resellers section ul {
    list-style: none; }
    .main-resellers section ul li {
      color: snow;
      font-size: 16px; }
      .main-resellers section ul li span {
        color: #FFE15D; }
  .main-resellers section .partner {
    color: #FFE15D;
    margin: 10px; }
  .main-resellers section a {
    text-decoration: none;
    background-color: snow;
    color: black;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px; }

footer {
  background: linear-gradient(black, #ffe666); }
  footer section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: snow;
    font-size: 20px;
    border-top: solid snow 6px; }
    footer section h2 {
      font-size: 40px;
      font-weight: bold;
      margin-top: 60px;
      text-align: center; }
    footer section div form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch; }
      footer section div form div input {
        width: 100%;
        font-size: 20px; }
      footer section div form div textarea {
        width: 100%;
        font-size: 20px; }
      footer section div form button {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30px;
        font-size: 20px;
        text-align: center;
        background-color: black;
        color: snow; }
  footer .copyright {
    width: 100%;
    align-items: center;
    justify-content: center; }
    footer .copyright p {
      background-color: black;
      color: snow;
      font-size: 15px;
      width: 100%;
      text-align: center;
      margin-top: 20px; }

@media screen and (max-width: 1500px) {
  main .menu #sections {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; }
    main .menu #sections div {
      width: 100%;
      height: auto; } }

@media screen and (max-width: 1460px) {
  .main-seamen section h2 {
    font-size: 38px; }
  .main-seamen section p {
    font-size: 18px; }
  .main-seamen section ul li {
    font-size: 18px; } }

@media screen and (max-width: 1450px) {
  .main-tourists section h2 {
    font-size: 30px; }
  .main-tourists section p {
    font-size: 15px; }
  .main-tourists section ul li {
    font-size: 15px; }
  .main-tourists img {
    width: 45%; }
  .main-agents section h2 {
    font-size: 30px; }
  .main-agents section h3 {
    font-size: 25px; }
  .main-agents section p {
    font-size: 15px; }
  .main-agents section ul li {
    font-size: 15px; } }

@media screen and (max-width: 1400px) {
  main .hero h2 {
    margin: 20px; } }

.main-agents section {
  font-size: 14px; }
  .main-agents section h2 {
    margin: 0; }

@media screen and (max-width: 1350px) {
  .main-tourists section h2 {
    font-size: 28px; }
  .main-tourists section p {
    font-size: 15px; }
  .main-tourists section ul li {
    font-size: 15px; }
  .main-agents section h2 {
    font-size: 28px; }
  .main-agents section h3 {
    font-size: 20px; }
  .main-agents section p {
    font-size: 14px; }
  .main-agents section ul li {
    font-size: 14px; } }

@media screen and (max-width: 1300px) {
  .main-seamen section h2 {
    font-size: 35px; }
  .main-seamen section p {
    font-size: 16px; }
  .main-seamen section ul li {
    font-size: 16px; }
  .main-agents section h2 {
    font-size: 25px; }
  .main-agents section h3 {
    font-size: 18px; }
  .main-agents section p {
    font-size: 13px; }
  .main-agents section ul li {
    font-size: 13px; }
  .main-resellers section h2 {
    font-size: 38px; }
  .main-resellers section p {
    font-size: 15px; }
  .main-resellers section ul li {
    font-size: 15px; } }

@media screen and (max-width: 1220px) {
  .main-agents section h2 {
    font-size: 20px; }
  .main-agents section h3 {
    font-size: 16px; }
  .main-agents section p {
    font-size: 12px; }
  .main-agents section ul li {
    font-size: 12px; }
  .main-resellers section h2 {
    font-size: 35px; }
  .main-resellers section p {
    font-size: 14px; }
  .main-resellers section ul li {
    font-size: 14px; } }

@media screen and (max-width: 1200px) {
  header section div {
    width: 250px;
    height: 150px; }
  header section .navegador-derecha nav {
    margin-bottom: 10px; }
  .main-seamen section h2 {
    font-size: 30px; }
  .main-seamen section p {
    font-size: 15px; }
  .main-seamen section ul li {
    font-size: 15px; }
  main .value div p {
    font-size: 23px; } }

@media screen and (max-width: 1150px) {
  .main-tourists section h2 {
    font-size: 25px; }
  .main-tourists section p {
    font-size: 14px; }
  .main-tourists section ul li {
    font-size: 14px; }
  .main-seamen section h2 {
    font-size: 28px; }
  .main-seamen section p {
    font-size: 14px; }
  .main-seamen section ul li {
    font-size: 14px; } }

@media screen and (max-width: 1120px) {
  main .value div p {
    font-size: 20px; }
  main .value div h2 {
    font-size: 30px; }
  .main-seamen section h2 {
    font-size: 25px; }
  .main-seamen section p {
    font-size: 13px; }
  .main-seamen section ul li {
    font-size: 13px; }
  .main-resellers section h2 {
    font-size: 30px; }
  .main-resellers section p {
    font-size: 13px; }
  .main-resellers section ul li {
    font-size: 13px; } }

@media screen and (max-width: 1050px) {
  .main-seamen section h2 {
    font-size: 25px; }
  .main-seamen section p {
    font-size: 12px; }
  .main-seamen section ul li {
    font-size: 12px; }
  .main-agents section h2 {
    font-size: 18px; }
  .main-agents section h3 {
    font-size: 15px; }
  .main-agents section p {
    font-size: 11px; }
  .main-agents section ul li {
    font-size: 11px; }
  .main-resellers section h2 {
    font-size: 28px; }
  .main-resellers section p {
    font-size: 12px; }
  .main-resellers section ul li {
    font-size: 12px; } }

@media screen and (max-width: 1000px) {
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; }
    .about-us section h2 {
      font-size: 18px;
      margin: 10px; }
    .about-us section h3 {
      font-size: 18px;
      margin: 10px; }
    .about-us section p {
      font-size: 16px;
      margin: 10px; }
  .main-seamen section h2 {
    font-size: 25px; }
  .main-seamen section p {
    font-size: 11px; }
  .main-seamen section ul li {
    font-size: 11px; }
  .main-agents section h2 {
    font-size: 18px; }
  .main-agents section h3 {
    font-size: 15px; }
  .main-agents section p {
    font-size: 10px; }
  .main-agents section ul li {
    font-size: 10px; }
  .main-resellers section h2 {
    font-size: 20px; }
  .main-resellers section p {
    font-size: 11px; }
  .main-resellers section a {
    font-size: 15px; }
  .main-resellers section ul li {
    font-size: 11px; } }

@media screen and (max-width: 970px) {
  header #main-nav-bar {
    display: none; }
  header #burguer-menu-container {
    height: 10vh;
    display: flex;
    width: 100%;
    padding: 0; }
    header #burguer-menu-container .container-fluid {
      background-color: black !important;
      padding: 0;
      height: 100%; }
      header #burguer-menu-container .container-fluid img {
        margin-left: 20px; }
      header #burguer-menu-container .container-fluid .logo-burguer-nav {
        height: 8vh;
        width: 23vh; }
      header #burguer-menu-container .container-fluid .navbar-toggler {
        display: block;
        margin-right: 20px; }
      header #burguer-menu-container .container-fluid #offcanvasDarkNavbar {
        background-color: black !important;
        width: 50%;
        height: 100vh;
        opacity: 0.8; }
        header #burguer-menu-container .container-fluid #offcanvasDarkNavbar .offcanvas-body ul li {
          opacity: 1; }
      header #burguer-menu-container .container-fluid #popup-menu {
        width: 40vh; }
        header #burguer-menu-container .container-fluid #popup-menu ul li #menu-dropdown {
          width: 70%; }
  main .value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .value div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      width: 100%; }
      main .value div p {
        font-size: 18px; }
      main .value div h2 {
        font-size: 25px; }
  .menu-h2 h2 {
    font-size: 38px; }
  main .hero h2 {
    font-size: 38px; }
  main .hero a {
    font-size: 38px; }
  .main-tourists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
    .main-tourists img {
      width: 100%; }
    .main-tourists section h2 {
      margin-top: 38px;
      font-size: 38px; }
    .main-tourists section a {
      margin-bottom: 38px; }
    .main-tourists section ul li {
      font-size: 15px; }
    .main-tourists section p {
      font-size: 14px;
      font-size: 15px; }
  .main-seamen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
    .main-seamen img {
      width: 100%; }
    .main-seamen section h2 {
      margin-top: 20px;
      font-size: 38px; }
    .main-seamen section p {
      font-size: 15px; }
    .main-seamen section ul li {
      font-size: 15px; }
    .main-seamen section a {
      margin-bottom: 20px; }
  .main-agents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
    .main-agents img {
      width: 100%; }
    .main-agents section {
      font-size: 14px; }
      .main-agents section h2 {
        margin-top: 20px; }
      .main-agents section a {
        margin-bottom: 20px; }
  .main-resellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
    .main-resellers img {
      width: 100%; }
    .main-resellers section {
      font-size: 14px; }
      .main-resellers section h2 {
        margin-top: 20px;
        font-size: 30px; }
      .main-resellers section a {
        margin-bottom: 20px; }
      .main-resellers section p {
        font-size: 16px; }
      .main-resellers section ul li {
        font-size: 16px; }
  .main-agents section h2 {
    font-size: 28px; }
  .main-agents section h3 {
    font-size: 20px; }
  .main-agents section p {
    font-size: 15px; }
  .main-agents section ul li {
    font-size: 15px; } }

@media screen and (max-width: 900px) {
  .menu-h2 h2 {
    font-size: 30px; }
  main .hero h2 {
    font-size: 30px; }
  main .hero a {
    font-size: 30px; }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; }
    .about-us section h2 {
      font-size: 16px; }
    .about-us section h3 {
      font-size: 16px; }
    .about-us section p {
      font-size: 14px; } }

@media screen and (max-width: 850) {
  .menu-h2 h2 {
    font-size: 28px; }
  main .hero h2 {
    font-size: 28px; }
  main .hero a {
    font-size: 28px; } }

.about-us section h2 {
  font-size: 20px; }

.about-us section h3 {
  font-size: 20px; }

.about-us section p {
  font-size: 18px; }

@media screen and (max-width: 800) {
  .menu-h2 h2 {
    font-size: 25px; }
  main .hero h2 {
    font-size: 25px; }
  main .hero a {
    font-size: 25px; } }

@media screen and (max-width: 750px) {
  .accordion-button {
    font-size: 18px !important; }
  main .hero h2 {
    font-size: 35px; }
  main .hero a {
    font-size: 35px; }
  main .menu .menu-h2 h2 {
    font-size: 35px; }
  main .menu #sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    main .menu #sections div {
      width: 100%;
      height: auto; }
      main .menu #sections div a img {
        -webkit-filter: grayscale(0%); } }

@media screen and (max-width: 550px) {
  .about-us section h2 {
    font-size: 18px; }
  .about-us section h3 {
    font-size: 18px; }
  .about-us section p {
    font-size: 16px; } }

@media screen and (max-width: 500px) {
  header #burguer-menu-container .container-fluid #offcanvasDarkNavbar {
    width: 70%; }
  .accordion-button {
    font-size: 15px !important; }
  .main-agents section h3 {
    font-size: 20px; } }

@media screen and (max-width: 550px) {
  .about-us section h2 {
    font-size: 16px; }
  .about-us section h3 {
    font-size: 16px; }
  .about-us section p {
    font-size: 14px; } }
