header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primario;
    height: auto;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    #main-nav-bar{
        width: 100%;
        display: flex;
        div{
            display: flex;
            align-items: center;
            width: 50%;
            img{
                width: 30%;
                height: 60%;
                margin-left: 20px;
            }
        }
        .navegador-derecha{
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            h2{
                color: $color-terciario;
                font-size: 40px;
                margin: 20px;
                animation: connect 10s ease-in 0s infinite normal forwards;
                @keyframes connect {
                    0%,
                    50%,
                    100% {
                        opacity: 1;
                    }
                
                    25%,
                    75% {
                        opacity: 0;
                    }
                }
            }
            nav{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li{
                        float: left;
                        font-size: 20px;  
                        margin-right: 5px;
                        position: relative; 
                        width: fit-content;
                        &:hover > ul{
                            display: flex;
                            flex-direction: column;
                            }
                        a{
                            text-decoration: none;
                            background-color: $color-primario;
                            color: $color-secundario;
                            padding: 10px 15px;
                            display: block;
                            transition: 0.5s;
                            img{
                                width: 30px;
                                height: 20px;
                                margin: 0;
                            }
                            &:hover{
                                background-color: $color-terciario;
                                color: $color-primario;
                            }
                        }
                        .products-nav{
                            width: 100%;
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            margin: 0; 
                            padding: 0; 
                            animation: myAnim 1s ease 0s 1 normalforwards;
                            @keyframes myAnim {
                                0% {
                                    opacity: 0;
                                }
                                100% {
                                    opacity: 1;
                                }
                            }
                            li{
                                width: 100%;
                                a{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    background-color: $color-primario;
                                    width: 100%;
                                    img{
                                        height: 28px;
                                        width: 35px;
                                        align-self: center;
                                    }
                                    &:hover{
                                        background-color: $color-terciario;
                                        color: $color-primario;
                                    }
                                }
                            }
                        }
                    }
                    #contact-nav{
                        background-color: $color-terciario;
                        padding: 10px 15px; 
                        color: $color-primario;
                        font-weight: bold;
                        text-wrap: nowrap;
                        margin-right: 5px;
                        &:hover{
                            background-color:$color-secundario;
                            padding: 10px 15px; 
                            color: $color-primario;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    #burguer-menu-container{
        display: none;
    }
}