/*!----- HERO -----*/
main{
    h1{ displaY: none
    }
    .hero{
        @extend %flex;
        flex-direction: column;  
        width: 100%;
        height: 83vh;
        background-image: url(../img/fondohero2.jpg);
        background-size: cover; 
        background-position:top center;
        background-attachment: fixed;
        color:$color-secundario;
        h2{
            font-size: 50px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 40px;
            background-color: hwb(0 98% 0% / 0.727);
            color: $color-primario;
        }
        a{
            text-decoration: none;
            font-size: 40px;
            background-color: $color-primario;
            color: $color-terciario;
            border-radius: 10px;
            padding: 10px;
            transition: 2s;
            &:hover{
                background-color: $color-terciario;
                color: $color-primario;
                font-weight: bold;
            }
        }
    }

/*!----- HERO END -----*/

/*!----- SECTIONS -----*/

    .menu{
        background-color: $color-primario;
        .menu-h2{
            @extend %flex;
            background-color: $color-primario;
            color: $color-secundario;
            padding: 20px;
            h2{
                border: snow 3px solid;
                padding: 20px;
                font-size: 30px;
                font-weight: bold;
                color: $color-secundario;
                text-align: center;
                width: fit-content;
            }
        }
        #sections{
            display: flex;
            background-color: $color-primario;
            div{
                width: 25%;
                height: 50vh;
                position: relative;
                margin-left: 5px;
                margin-right: 5px ;
                a{
                    img{
                        object-fit:fill;
                        width:  100%;
                        height: 100%;
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        transition: 1s;
                        &:hover{
                            filter: grayscale(0%);
                            -webkit-filter: grayscale(0%);
                        }
                    }
                }
                h3{
                    position: absolute;
                    bottom: 0;
                    font-size: 30px;
                    background-color: rgba(255, 250, 250, 0.682);
                    color: $color-primario;
                    padding: 10px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

/*!----- SECTIONS END -----*/

/*!----- VALUES -----*/

    .values{
        display: flex;
        justify-content: center;
        color: $color-secundario;
        padding: 20px;
        background-color: $color-primario;
        h2{
            border: snow 3px solid;
            padding: 20px;
            font-size: 30px;
            font-weight: bold;
            background-color: $color-primario;
        }
    }

    .value{
        background-image: url(../img/fondo-value-editado.png);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 170px;
        text-align: center;
        background-color: $color-primario;
        &::before{
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            background-color: $color-primario;
        }
        div{
            margin: 3px;
            @extend %flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 50px;
            border: rgb(0, 0, 0) solid 2px;
            background-color: #fffffdae;
            opacity: .7;
            transition: 1s;
            &:hover{
                opacity: 0.9;
                background-color: $color-secundario;
            }
            h2{
                font-size: 40px;
                font-weight: bolder;
                color: $color-primario;
                width: 25%;
                text-align: left;
                border:black solid 3px;
                background-color: #ffe666cc;
                width: fit-content;
                padding: 10px;
            }
            p{
                font-size: 25px;
                color: $color-primario;
                margin-right:20px;
                margin-left: 20px;
                font-weight: bold;
            }
        }
        .experience{
            @extend %flex;
            flex-direction: column;
            grid-column: span 2;
            grid-row: span 2;
            gap: 20px;
        }
        .delivery{
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: span 2;
            grid-row: span 2;
            gap: 20px;
        }
        .reliable{
            grid-column: span 2;
            padding: 20px;
        }
        .assistance{
            grid-column: span 2;
            padding: 20px;
        }
        .quality{
            @extend %flex;
            grid-column: span 4;
        }
    }

/*!----- VALUES END -----*/

/*!----- FAQ -----*/

    .faq{
        .faq-title-container{
            @extend %flex;
            background-color: $color-primario;
            padding: 20px;
            .faq-title{
                @extend %flex;
                border: snow 3px solid;
                padding: 20px;
                font-size: 30px;
                font-weight: bold;
                background-color: $color-primario;
                color: $color-secundario;
                text-align: center;
            }
        }
        .menu-faq{
            .accordion-item{
                background-color: $color-primario;
                color: $color-terciario;
                h2{
                    .accordion-button{
                        font-size: 22px !important;
                        background-color: $color-secundario;
                        color: $color-primario;
                    }
                }
            }
        }
    }

/*!----- FAQ END -----*/

/*!----- COVERAGE MAP -----*/

    .coverage-map{
        background-color: $color-primario;
        color: $color-secundario;
        @extend %flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        h2{
            border: snow 3px solid;
            padding: 20px;
            font-size: 30px;
            font-weight: bold;
            background-color: $color-primario;
            color: $color-secundario;
            text-align: center;
        }
        p{
            color: $color-terciario;
            font-size: 25px;
            text-align: center;
            padding: 10px;
        }
        a{
            background-color: $color-terciario;
            color: $color-primario;
            text-decoration: none;
            font-size: 30px;
            padding: 10px;
            text-align: center;
        }
    }

/*!----- COVERAGE MAP END -----*/

/*!----- WHATSAPP -----*/

    .whatsapp{
        position: fixed;
        bottom: 50px;
        right: 40px;
        a{
            background: transparent;
            img{
                width: 8vh;
                transition: 0.5s;
                &:hover{
                    width: 10vh;
                }
            }
        }
    }
}
/*!----- INDEX END -----*/

/*!----- ABOUT -----*/

.about-us{
    @extend %flex;
    height: 80vh;
    background-color: rgb(31, 30, 30);
    flex-direction: column;
    margin: 0;
    padding: 0;
    section{
        @extend %flex;
        flex-direction: column;
        h2{
        @include h2pages($color-terciario, center, 30px, 30px, underline, 45px)
        }
        h3{
            color: $color-terciario;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 30px;
        }
        p{
            color: $color-secundario;
            text-align: center;
            margin: 15px;
            font-size: 20px;
        }
    }
}

/*!----- ABOUT END -----*/

/*!----- TOURISTS -----*/

.main-tourists{
    @extend %mainpages;
    img{}
    section{
        @extend %flex;
        flex-direction: column;
        h2{
            @include h2pages($color-terciario, center, 30px, 30px, underline, 45px)
        }
        p{
            color: $color-secundario;
            text-align: center;
            margin: 20px; 
            font-size: 17px;   
        }
        ul {
            list-style: none;
            li {
                color: $color-secundario;
                font-size: 17px;
                .bullet {
                    color: $color-terciario;
                }
            }
        }
        .chance{
            color:$color-terciario;
            margin-bottom: 15px;
        }
        a{
            text-decoration: none;
            background-color: map-get($button, bg-color);
            color: map-get($button, text-color);
            padding: 10px;
            font-size: map-get($button, font-size);
            margin-top: 20px;
        }
    }
    .whatsapp{
        a{
            background-color: transparent;
        }
    }
}

/*!----- TOURISTS END -----*/

/*!----- SEAMEN -----*/

.main-seamen{
    @extend %mainpages;
    img{}
    section{
        @extend %flex;
        flex-direction: column;
        h2{
            @include h2pages($color-terciario, center, 40px, 40px, underline, 45px)
        }
        p{
            color: $color-secundario;
            text-align: center;
            margin: 20px; 
            font-size: 20px;   
        }
        ul {
            list-style: none;
            li {
                color: $color-secundario;
                font-size: 20px;
                .bullet {
                    color: $color-terciario;
                }
            }
        }
        .action{
            color:$color-terciario;
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
            background-color: map-get($button, bg-color);
            color: map-get($button, text-color);
            padding: 10px;
            font-size: map-get($button, font-size);
            margin-top: 20px;
        }
    }
    .whatsapp{
        a{
            background-color: transparent;
        }
    }
}

/*!----- SEAMEN END -----*/

/*!----- AGENTS -----*/

.main-agents{
    @extend %mainpages;
    img{}
    section{
        @extend %flex;
        flex-direction: column;
        h2{
            @include h2pages($color-terciario, center, 10px, 0px, underline, 45px)
        }
        h3{
            color: $color-terciario;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: nth($sizes , 6 )
        }
        p{
            color: $color-secundario;
            text-align: center;
            margin: 15px;
            font-size: nth($sizes , 3 )
        }
        ul{
            list-style: none;
            li{
                color: $color-secundario;
                font-size: nth($sizes , 3 );
                span{
                    color: $color-terciario
                }
            }
        }
        .partner{
            color: $color-terciario;
            margin: 10px;
        }
        a{
            text-decoration: none;
            background-color: map-get($button, bg-color);
            color: map-get($button, text-color);
            padding: 10px;
            font-size: map-get($button, font-size);
            margin-top: 20px;
        }
    }
    .whatsapp{
        a{
            background-color: transparent;
        }
    }
}

/*!----- AGENTS END -----*/

/*!----- RESELLERS -----*/

.main-resellers{
    @extend %mainpages;
    img{}
    section{
        @extend %flex;
        flex-direction: column;
        h2{
            @include h2pages($color-terciario, center, 10px, 0px, underline, 45px)
        }
        p{
            color: $color-secundario;
            text-align: center;
            margin: 15px;
            font-size: nth($sizes , 3 )
        }
        ul{
            list-style: none;
            li{
                color: $color-secundario;
                font-size: nth($sizes , 3 );
                span{
                    color: $color-terciario
                }
            }
        }
        .partner{
            color: $color-terciario;
            margin: 10px;
        }
        a{
            text-decoration: none;
            background-color: map-get($button, bg-color);
            color: map-get($button, text-color);
            padding: 10px;
            font-size: map-get($button, font-size);
            margin-top: 20px;
        }
    }
    .whatsapp{
        a{
            background-color: transparent;
        }
    }
}