@media screen and (max-width:1550px){
    .main-tourists{
        .hero-tourists{
            div{
                h2{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
                ul{
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1500px){
    main{
        .menu{
            #sections{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: auto;
                div{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
} 

@media screen and (max-width:1460px){
    .main-seamen{
        section {
            h2{
                font-size: nth($sizes, 10 );
            }
            p{
                font-size: nth($sizes, 4 );
            }
            ul{
                li{
                    font-size: nth($sizes, 4 );
                }
            }
        }
    }
}

@media screen and (max-width:1450px){
    .main-tourists{
        section {
            h2{
                font-size: nth($sizes, 8 );
            }
            p{
                font-size: nth($sizes, 2 );
            }
            ul{
                li{
                    font-size: nth($sizes, 2 );
                }
            }
        }
        img{
            width: 45%;
        }
    }
    .main-agents{
        section {
            h2{
                font-size: nth($sizes, 8 );
            }
            h3{
                font-size: nth($sizes, 6 );
            }
            p{
                font-size: nth($sizes, 2 );
            }
            ul{
                li{
                    font-size: nth($sizes, 2 );
                }
            }
        }
    }
}

@media screen and (max-width:1400px){
    main{
        .hero{
            h2{
                margin: 20px;    
            }
        } 
    }
}

    .main-agents{
        section{
            font-size: nth($sizes , 1 );
            h2{
                margin: 0;
            }
        }
    } 

@media screen and (max-width:1350px){
    .main-tourists{
        .hero-tourists {
            div{
                h2{
                    font-size: nth($sizes, 7 );
                }
                p{
                    font-size: nth($sizes, 2 );
                }
                ul{
                    li{
                        font-size: nth($sizes, 2 );
                    }
                }
            }
        }
    }
    .main-agents{
        section {
            h2{
                font-size: nth($sizes, 7 );
            }
            h3{
                font-size: nth($sizes, 5 );
            }
            p{
                font-size: nth($sizes, 1 );
            }
            ul{
                li{
                    font-size: nth($sizes, 1 );
                }
            }
        }
    }
}

@media screen and (max-width:1300px){
    .main-seamen{
        section {
            h2{
                font-size: nth($sizes, 9 );
            }
            p{
                font-size: nth($sizes, 3 );
            }
            ul{
                li{
                    font-size: nth($sizes, 3 );
                }
            }
        }
    }
    .main-agents{
        .hero-agents{
            img{
                height:70vh;
            }
            div{
                padding: 10px;
                h2{
                    font-size: 25px;
                }
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 10px;
                }
                ul {
                    li {
                        font-size: 10px;
                    }   
                } 
                .partner{
                    margin-bottom: 10px;
                }
                a{
                    font-size: 10px;
                }
            }
        }
    }
    .main-resellers{
        .hero-resellers{
            img{
                height:70vh;
            }
            div{
                padding: 10px;
                h2{
                    font-size: 25px;
                }
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 10px;
                }
                ul {
                    li {
                        font-size: 10px;
                    }   
                } 
                .join{
                    margin-bottom: 10px;
                }
                a{
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    header{
        section{
            div{
                width: 250px;
                height: 150px;
                }
            .navegador-derecha{
                nav{
                    margin-bottom: 10px;
                }
            }
        }
    }
    main .value div p{
        font-size: 23px;
    }
}

@media screen and (max-width:1175px){
    .main-tourists{
        .hero-tourists{
            div{
                h2{
                    font-size: nth($sizes, 6 );
                }
                h3{
                    font-size: nth($sizes, 4 );
                }
                p{
                    font-size: nth($sizes, 1 );
                }
                ul{
                    li{
                        font-size: nth($sizes, 1 );
                    }
                }
            }
        }
    }
}
    
@media screen and (max-width:1120px){
    main{
        .value{
            div{
                p{
                    font-size: nth($sizes , 5 );
                }
                h2{
                    font-size: nth($sizes , 8 );
                }
            }
        }
    }
    .main-tourists{
        .hero-tourists {
            div{
                h2{
                    font-size: nth($sizes, 5 );
                }
                p{
                    font-size: 13px;
                }
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1060px){
    .main-seamen{
        .hero-seamen {
            div{
                h2{
                    font-size: nth($sizes, 10 );
                }
                p{
                    font-size: nth($sizes, 2 );
                }
                ul{
                    li{
                        font-size: nth($sizes, 2 );
                    }
                }
            }
        }
    }
    .main-agents{
        .hero-agents{
            div{
                h2{
                    margin: 8px;
                }
                h3{
                    margin: 8px;
                }
                p{
                    margin: 8px;
                }
                ul {
                    margin: 8px;
                    li {
                        margin: 8px;
                    }   
                } 
                .partner{
                }
                a{
                    margin: 10px;
                }
            }
        }
    }
    .main-resellers{
        .hero-resellers{
            div{
                h2{
                    margin: 8px;
                }
                h3{
                    margin: 8px;
                }
                p{
                    margin: 8px;
                }
                ul {
                    margin: 8px;
                    li {
                        margin: 8px;
                    }   
                } 
                .join{
                }
                a{
                    margin: 10px;
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0;
        section{
            h2{
                font-size: nth($sizes , 4 );
                margin: 10px;  
            }
            h3{
                font-size: nth($sizes , 4 );  
                margin:10px;
            }
            p{
                font-size: nth($sizes , 3 );  
                margin: 10px;
            }
        }
    }
    .main-agents{
        section {
            h2{
                font-size: nth($sizes, 4 );
            }
            h3{
                font-size: nth($sizes, 2 );
            }
            p{
                font-size: 10px;
            }
            ul{
                li{
                    font-size: 10px;
                }
            }
        }
    }
    .main-resellers{
        section {
            h2{
                font-size: nth($sizes, 5 );
            }
            p{
                font-size: 11px;
            }
            a{
                font-size: nth($sizes, 2 );
            }
            ul{
                li{
                    font-size: 11px;
                }
            }
        }
    }
}

@media screen and (max-width:970px){
    header{
        #main-nav-bar{
            display: none;
        }
        #burguer-menu-container{
            height: 10vh;
            display: flex;
            width: 100%;
            padding: 0;
            .container-fluid{
                background-color: $color-primario!important;
                padding: 0;
                height: 100%;
                img{
                    margin-left: 20px;
                }
                .navbar-toggler{
                    display: block;
                    margin-right: 20px;
                }
                #offcanvasDarkNavbar{
                    background-color: $color-primario !important;
                    width: 50%;
                    height: 100vh;
                    opacity: 0.8;
                    .offcanvas-body{
                        ul{
                            li{
                                opacity: 1;
                            }
                        }
                    }
                }
                #popup-menu{
                    width: 40vh;
                    ul{
                        li{
                            #menu-dropdown{
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .value{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
                width: 100%;
                p{
                    font-size: nth($sizes , 4 );
                }
                h2 {
                    font-size: nth($sizes , 6 );
                }
            } 
        } 
    } 
    .menu-h2{
        h2{
            font-size: nth($sizes , 10 );
        }
    }
    main{
        .hero{
            h2{
                font-size: nth($sizes , 10 );
            }
            a{
                font-size: nth($sizes , 10 );    
            }
        } 
    } 
    .main-tourists{
            .hero-tourists{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
                img{
                    height: 320px;
                    width: 320px;
                }
                div{
                    h2{
                        margin-top: 38px;
                        font-size: nth($sizes, 10);
                    }
                    a{
                        margin-bottom: 38px;
                    }
                    ul{
                        li{
                            font-size: nth($sizes, 2);
                        }
                    }
                    p{
                        font-size: nth($sizes , 1 );
                        font-size: nth($sizes, 2);
                    }
                }
            }
            .cards{
                height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
            }
        }
    .main-seamen{
        .hero-seamen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            img{
                width: 320px;
                height: 320px;
            }
            h2{
                margin-top: 20px;
                font-size: nth($sizes, 9);
            }
            p{
                font-size: nth($sizes, 1);
            }
            ul{
                li{
                    font-size: nth($sizes, 1);
                }
            }
            a{
                margin-bottom: 20px;
            }
        }
        .cards{
            height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }
    }
    .main-agents{
        .hero-agents{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            img{
                width: 320px;
                height: 320px;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;
                height: auto;
                h2{
                    margin-top: 20px;
                }
                h3{
                    font-size: nth($sizes , 1 )
                }
                a{
                    font-size: nth($sizes , 1 );
                }
            }
        }
    }
    
    .main-resellers{
        .hero-resellers{
            font-size: nth($sizes , 1 );
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            img{
                width: 320px;
                height: 320px;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;
                height: auto;
                h2{
                    margin-top: 20px;
                }
                h3{
                    font-size: nth($sizes , 1 )
                }
                a{
                    font-size: nth($sizes , 1 );
                }
            }
        }
    }
}

@media screen and (max-width:900px){
    .menu-h2{
        h2{
            font-size: nth($sizes , 8 );
        }
    } 

    main {
        .hero{
            h2{
                font-size: nth($sizes , 8 );
            }
            a{
                font-size: nth($sizes , 8 );    
            }
        } 
    }
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0;
        section{
            h2{
                font-size: nth($sizes , 3 );
            }
            h3{
                font-size: nth($sizes , 3 );  
            }
            p{
                font-size: nth($sizes , 1 );  
            }
        }
    }
    footer{
        .contact-us{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .form{
                width: 320px;
                h2{
                    font-size: 25px;
                }
                form{
                    input{
                        font-size: 15px;
                    }
                    textarea{
                        font-size: 15px;
                    }
                    button{
                        font-size: 15px;
                    }
                }
            }
            .map{
                justify-content: center;
                p{
                    font-size: 12px;
                }
                iframe{
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:850){
.menu-h2{
    h2{
        font-size: nth($sizes , 7 );
    }
} 
main{
    .hero{
        h2{
            font-size: nth($sizes , 7 );
        }
        a{
            font-size: nth($sizes , 7 );    
        }
    } 
} 
}

    
@media screen and (max-width:800){
.menu-h2{
        h2{
            font-size: nth($sizes , 6 );
        }
} 
main{
    .hero{
        h2{
            font-size: nth($sizes , 6 );
        }
        a{
            font-size: nth($sizes , 6 );    
        }
    } 
} 
}
    
@media screen and (max-width:750px){
    .accordion-button{
        font-size: nth($sizes , 4 ) !important;
    }
    main{
        .hero{
            h2{
                font-size: nth($sizes , 9 );
            }
            a{
                font-size: nth($sizes , 9 );    
            }
        } 
        .menu{
            .menu-h2{
                h2{
                    font-size: nth($sizes , 9 );
                }
            }
            #sections{
                width: 100%;
                div{
                    width: 100%;
                    height: auto;
                    a{
                        display: flex;
                        justify-content: center;
                        img{
                            -webkit-filter: grayscale(0%);
                            height: 350px;
                            width: 100%;
                        }
                    } 
                }
            } 
        } 
    }
}
@media screen and (max-width:670px){
    main{
        .menu{
            #sections{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div{
                    width: 320px;
                    a{
                        img{
                            height: 320px;
                            width: 320px;
                        }
                    } 
                }
            } 
        } 
    }
}
@media screen and (max-width:550px){
    .about-us{
        section{
            h2{
                font-size: nth($sizes , 4 );  
            }
            h3{
                font-size: nth($sizes , 4 );  
            }
            p{
                font-size: nth($sizes , 3 );  
            }
        }
    }
}

@media screen and (max-width:500px){ 
    header{
        #burguer-menu-container{
            .container-fluid{
                #offcanvasDarkNavbar{
                    width: 70%;
                }
            }
        }
    }

    .accordion-button{
        font-size: nth($sizes , 2 ) !important;
    }
        
    .main-agents{
        section{
            h3{
                font-size: nth($sizes , 5 );
            }
        }
    } 
}

@media screen and (max-width:550px){
    .about-us{
        section{
            h2{
                font-size: nth($sizes , 3 );  
            }
            h3{
                font-size: nth($sizes , 3 );  
            }
            p{
                font-size: nth($sizes , 1 );  
            }
        }
    }
}