$color-primario: black;
$color-secundario: snow;
$color-terciario: #FFE15D;

$sizes: 14px, 15px, 16px, 18px, 20px, 25px, 28px, 30px, 35px, 38px; 

$button:(
    bg-color:snow,
    text-color: black,
    font-size: 18px,
);

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%mainpages{
    display: flex;
    height: 80vh;
    background-color: rgb(31, 30, 30);
}

@mixin h2pages($color, $text-align, $margin-top, $margin-bottom, $text-decoration, $font-size){
    color: $color;
    text-align: $text-align;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    text-decoration: $text-decoration;
    font-size: $font-size;
}
